@tailwind base;
@tailwind components;
@tailwind utilities;


input,
textarea,
select {
  background-color: white !important;
  color: black !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}